<div class="login-status-header">
  <div
    [ngStyle]="{
      visibility: isAuthenticated && userFullName ? 'visible' : 'hidden'
    }"
    class="login-status-user-info"
  >
    Welcome back {{ userFullName }} !
  </div>

  <button
    routerLink="/members"
    [ngStyle]="{ visibility: isAuthenticated ? 'visible' : 'hidden' }"
    class="au-btn-submit"
    style="margin-left: 10px"
  >
    Member
  </button>

  <button
    routerLink="/order-history"
    [ngStyle]="{ visibility: isAuthenticated ? 'visible' : 'hidden' }"
    class="au-btn-submit"
    style="margin-left: 10px; width: 125px"
  >
    Order History
  </button>

  <button
    class="au-btn-submit"
    (click)="log_in_out()"
    style="margin-left: 10px; width: 100px"
  >
    <span *ngIf="!isAuthenticated">Login</span>
    <span *ngIf="isAuthenticated">Logout</span>
  </button>
</div>
