<div class="flex items-center">
  <div [hidden]="!(isAuthenticated && userFullName)">
    Welcome back {{ userFullName }} !
  </div>

  <button
    routerLink="/members"
    [hidden]="!(isAuthenticated && userFullName)"
    class="common-button"
  >
    Member
  </button>

  <button
    class="common-button"
    routerLink="/order-history"
    [hidden]="!(isAuthenticated && userFullName)"
  >
    Order History
  </button>

  <button (click)="log_in_out()" class="common-button">
    <span *ngIf="!isAuthenticated">Login</span>
    <span *ngIf="isAuthenticated">Logout</span>
  </button>
</div>
