<div class="w-[75vw] mx-auto">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter your e-mail"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Enter your password"
                />
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <p>
              Don't have an account? Sign in
              <a routerLink="/sign-up" routerLinkActive="active">here</a>
            </p>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
