<div class="w-[50vw] mt-2.5">
  <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmitHandler()">
    <div formGroupName="customer" class="form-group">
      <h3>Customer</h3>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>First Name</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="firstName"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                firstName?.invalid && (firstName?.dirty || firstName?.touched)
              "
              class="form-error"
            >
              <div
                *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']"
              >
                First Name is required
              </div>

              <div *ngIf="firstName?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Last Name</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="lastName"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                lastName?.invalid && (lastName?.dirty || lastName?.touched)
              "
              class="form-error"
            >
              <div *ngIf="lastName?.errors?.['required']">
                Last Name is required
              </div>

              <div *ngIf="lastName?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>E-Mail</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="email"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
              class="form-error"
            >
              <div *ngIf="email?.errors?.['required']">E-Mail is required</div>

              <div *ngIf="email?.errors?.['pattern']">Wrong Input</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="shipmentAddress" class="form-group">
      <h3>Shipment Address</h3>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Country</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select
              formControlName="country"
              (ngModelChange)="onShipmentCountryChange()"
              class="form-group-field-select"
            >
              <option value="default">--Select a country--</option>
              @for (country of countries; track $index) {
              <option>{{ country.name }}</option>
              }
            </select>

            <div
              *ngIf="
                shippingAddressCountry?.invalid &&
                (shippingAddressCountry?.dirty || firstName?.touched)
              "
              class="form-error"
            >
              <div *ngIf="shippingAddressCountry?.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>State</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select formControlName="state" class="form-group-field-select">
              @for (state of shipmentStates; track $index) {
              <option>{{ state.name }}</option>
              }
            </select>

            <div
              *ngIf="
                shippingAddressState?.invalid &&
                (shippingAddressState?.dirty || shippingAddressState?.touched)
              "
              class="form-error"
            >
              <div *ngIf="shippingAddressState?.errors?.['required']">
                State is required
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>City</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="city"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                shippingAddressCity?.invalid &&
                (shippingAddressCity?.dirty || shippingAddressCity?.touched)
              "
              class="form-error"
            >
              <div *ngIf="shippingAddressCity?.errors?.['required']">
                City is required
              </div>

              <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Street</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="street"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                shippingAddressStreet?.invalid &&
                (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)
              "
              class="form-error"
            >
              <div *ngIf="shippingAddressStreet?.errors?.['required']">
                Street is required
              </div>

              <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Zip Code</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="zipCode"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                shippingAddressZipCode?.invalid &&
                (shippingAddressZipCode?.dirty ||
                  shippingAddressZipCode?.touched)
              "
              class="form-error"
            >
              <div *ngIf="shippingAddressZipCode?.errors?.['required']">
                Zip Code is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group-field-input-div-div">
      <h6 class="au-checkbox">
        <input
          type="checkbox"
          (change)="copyShippingAddressToBillingAddress($event)"
        />
        <span class="au-checkmark"></span>Billing Address same as Shipping
        Address
      </h6>
    </div>

    <div formGroupName="billingAddress" class="form-group">
      <h3>Billing Address</h3>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Country</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select
              formControlName="country"
              (ngModelChange)="onBillingCountryChange()"
              class="form-group-field-select"
            >
              <option value="default">--Select a country--</option>
              @for (country of countries; track $index) {
              <option>{{ country.name }}</option>
              }
            </select>

            <div
              *ngIf="
                shippingAddressCountry?.invalid &&
                (shippingAddressCountry?.dirty || firstName?.touched)
              "
              class="form-error"
            >
              <div *ngIf="billingAddressCountry?.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>State</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select formControlName="state" class="form-group-field-select">
              @for (state of billingStates; track $index) {
              <option>{{ state.name }}</option>
              }
            </select>

            <div
              *ngIf="
                billingAddressState?.invalid &&
                (billingAddressState?.dirty || billingAddressState?.touched)
              "
              class="form-error"
            >
              <div *ngIf="billingAddressState?.errors?.['required']">
                State is required
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>City</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="city"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                billingAddressCity?.invalid &&
                (billingAddressCity?.dirty || billingAddressCity?.touched)
              "
              class="form-error"
            >
              <div *ngIf="billingAddressCity?.errors?.['required']">
                City is required
              </div>

              <div *ngIf="billingAddressCity?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Street</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="street"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                billingAddressStreet?.invalid &&
                (billingAddressStreet?.dirty || billingAddressStreet?.touched)
              "
              class="form-error"
            >
              <div *ngIf="billingAddressStreet?.errors?.['required']">
                Street is required
              </div>

              <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                Length should be at least 2
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Zip Code</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="zipCode"
              type="text"
              class="form-group-field-input"
            />

            <div
              *ngIf="
                billingAddressZipCode?.invalid &&
                (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)
              "
              class="form-error"
            >
              <div *ngIf="billingAddressZipCode?.errors?.['required']">
                Zip Code is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="creditCard" class="form-group">
      <h3>Creadit Card</h3>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Card Type</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select formControlName="cardType" class="form-group-field-select">
              <option>Visa</option>
              <option>Master Card</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Name on Card</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="nameOnCard"
              type="text"
              class="form-group-field-input"
            />
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Card Number</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="cardNumber"
              type="text"
              class="form-group-field-input"
            />
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Security Code</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <input
              formControlName="securityCode"
              type="text"
              class="form-group-field-input"
            />
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Expiration Month</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select
              formControlName="expirationMonth"
              class="form-group-field-select"
            >
              <option *ngFor="let item of formMonths">{{ item }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group-field">
        <div class="form-group-field-header-w">
          <h6>Expiration Year</h6>
        </div>
        <div class="form-group-field-input-div">
          <div class="form-group-field-input-div-div">
            <select
              formControlName="expirationYear"
              (change)="handleMonthsAndYear()"
              class="form-group-field-select"
            >
              <option *ngFor="let item of formYears">{{ item }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right pr-2.5">
      <h3>Review Your Order</h3>

      <p>Total Quantity: {{ totalQuantity }}</p>
      <p>Shipping: free</p>
      <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-info">Purchase</button>
    </div>
  </form>
</div>
