<div class="flex flex-col justify-center items-center">
  <div class="w-[90%] mx-auto">
    <div class="grid grid-cols-3 w-full">
      <div *ngFor="let item of products" class="">
        <div class="flex flex-col justify-center items-center">
          <a
            routerLink="/products/{{ item.id }}"
            routerLinkActive="active-link"
          >
            <img
              src="{{ item.imageUrl }}"
              class="max-w-full transition-transform duration-300 hover:scale-110"
            />
          </a>
          <div>
            <a
              routerLink="/products/{{ item.id }}"
              class="!no-underline !text-gray-600 flex justify-center"
            >
              <h2 class="!text-xl">{{ item.name }}</h2>
            </a>
          </div>
          <div class="price">
            {{ item.unitPrice | currency : "USD" }}
          </div>
          <button
            (click)="onAddToCardHandler(item)"
            class="w-[65%] bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>

    <!-- if not products are there just inform -->
    <div
      *ngIf="products?.length === 0"
      class="alert alert-warning col-md-12 mt-3.5"
      role="alert"
    >
      <p>no products found.</p>
    </div>
  </div>

  <div class="mt-4" *ngIf="products?.length != 0">
    <div class="">
      <ngb-pagination
        [collectionSize]="totalElements"
        [(page)]="pageNumber"
        [pageSize]="pageSize"
        (pageChange)="listProducts()"
      >
      </ngb-pagination>
    </div>
  </div>

  <div *ngIf="products?.length != 0">
    <span class="mr-3">Page Size</span>
    <select
      #PageSelect
      (change)="updatePageSize(PageSelect.value)"
      style="float: right"
    >
      <option [selected]="pageSize === 5">5</option>
      <option [selected]="pageSize === 10">10</option>
      <option [selected]="pageSize === 20">20</option>
      <option [selected]="pageSize === 50">50</option>
    </select>
  </div>
</div>
